<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="background-color: #07c4c4;">
      <div class="header-container">
        <ion-img class="imagen" src="/assets/Logocine (1)-Photoroom.png"></ion-img>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="registro">
    <h1 class="subtitulo">Registrate</h1>
    <ion-item>
      <ion-label position="floating">Nombre de usuario</ion-label>
      <ion-input [(ngModel)]="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Correo</ion-label>
      <ion-input [(ngModel)]="correo"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Repetir contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="passwordTest"></ion-input>
    </ion-item>
    <ion-button color="secondary" (click)="validar()">
      Registrarse
    </ion-button>
  </div>
</ion-content>
