<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="background-color: #07c4c4;">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <div class="header-container">
        <ion-img class="imagen" src="/assets/Logocine (1)-Photoroom.png"></ion-img>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="opciones-perfil">
    <h2 class="titulo">Customizar Perfil</h2>
    <ion-list class="opciones-perfil-list">
      <ion-item>
        <ion-input placeholder="Nombre de usuario" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-textarea placeholder="Biografía"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Correo" type="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Imagen de Perfil</ion-label>
        <ion-button fill="clear" slot="end" (click)="tomarFoto()">
          <ion-icon slot="icon-only" name="camera"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>

    <!-- Mostrar la foto tomada -->
    <div class="vista-previa-foto" *ngIf="imagenPerfil">
      <h3>Vista Previa de la Foto</h3>
      <img
        [src]="imagenPerfil"
        alt="Foto del perfil"
        class="foto-previa"
      />
      <ion-button
        expand="block"
        color="success"
        (click)="guardarFotoEnBaseDeDatos(imagenPerfil)"
      >
        Confirmar y Guardar Foto
      </ion-button>
    </div>
  </div>
</ion-content>