<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="background-color: #07c4c4;">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <div class="header-container">
        <ion-img class="imagen" src="/assets/Logocine (1)-Photoroom.png"></ion-img>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Panel de administrador</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="lista-de-usuarios">
    <p class="titulo">Lista de usuarios</p>
    <ion-list>
      <ion-item *ngFor="let user of users" [class.banned-user]="isUserBanned(user.id)">
        <ion-label [class.banne-user]="isUserBanned(user.id)">{{ user.nombre }}</ion-label>
        <ion-button
          *ngIf="!(user.id == 1 || isUserBanned(user.id))"
          color="danger"
          (click)="banUser(user.id)">
          Bannear usuario
        </ion-button>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
