.imagen {
    width: 100%;
    max-width: 70px;
  }
  
  .header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
  }
  .container {
    text-align: center;
    padding: 20px;
  }
  
  h2 {
    font-size: 22px;
    margin-bottom: 10px;
    color: #07c4c4;
  }
  
  p {
    font-size: 16px;
    color: #666;
  }
  
  ion-item {
    margin-top: 15px;
  }
  
  ion-button {
    margin-top: 20px;
  
  }
  .error-label {
    color: red;
    font-size: 14px;
    margin-left: 16px; /* Para alinear con el ion-item */
  }