<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="background-color: #07c4c4;">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <div class="header-container">
        <ion-img class="imagen" src="/assets/Logocine (1)-Photoroom.png"></ion-img>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="agregar-pelicula">
    <h1 class="subtitulo">Crear Publicación</h1>
    <ion-list>
      <ion-item>
        <ion-label position="floating">Título</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Descripción</ion-label>
        <ion-textarea></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Poster de la película</ion-label>
        <hr>
        <ion-input type="file"></ion-input>
      </ion-item>
    </ion-list>
    <ion-button color="secondary" (click)="crearPublicacion()">Crear Publicación</ion-button>
  </div>
</ion-content>
