#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.titulo {
  text-align: center;
}

.imagen {
  width: 100%;
  max-width: 70px;
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
}

.subtitulo {
  text-align: center;
}

.comparte {
  text-align: center;
}

/* Contenedor que aloja todas las tarjetas */
.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  /* Espacio entre las tarjetas */
  justify-content: space-between;
}

/* Estilo básico de la tarjeta */
.card {
  width: calc(50% - 10px);
  border-radius: 8px;
  box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background-color: #ffffff;
  margin-bottom: 15px;
}

/* Estilo para la imagen de la tarjeta */
.card-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

/* Estilo para el contenido dentro de la tarjeta */
.card-content {
  padding: 16px;
}

/* Estilo para el título de la tarjeta */
.card-title {
  font-size: 1.5rem;
  margin-bottom: 8px;
}

/* Estilo para la descripción de la tarjeta */
.card-description {
  font-size: 1rem;
  color: #555;
  margin-bottom: 16px;
}

.boton:hover {
  background-color: #0056b3;
}

.boton-centrado {
  width: 100%;
  max-width: fit-content;
  margin-right: auto;
  margin-left: auto;
  object-fit: cover;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}