<ion-header>
  <ion-toolbar>
    <ion-title style="background-color: #07c4c4;">
      <div class="header-container">
        <ion-img class="imagen" src="/assets/Logocine (1)-Photoroom.png"></ion-img>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="banner">
    <h1 class="subtitulo">Bienvenido a CineForum</h1>
    <p class="comparte"><em>Comparte y descubre opiniones sobre tus películas favoritas.</em></p>
    <ion-button color="secondary" [routerLink]="['/admin-panel']" *ngIf="user == 'admin'">
      Administrar
    </ion-button>
  </div>

  <ion-searchbar placeholder="Buscar peliculas en el foro"></ion-searchbar>
 
  <ion-list>
    <ion-item *ngFor="let movie of movies">
      <ion-thumbnail slot="start">
        <ion-img [src]="movie.poster"></ion-img>
      </ion-thumbnail>
      <ion-label>
        <h2>{{movie.title}}</h2>
        <p>{{movie.description}}</p>
      </ion-label>
      <ion-button color="secondary" (click)="routeToMovie(movie.route)">leer mas</ion-button>
    </ion-item>

  </ion-list>
</ion-content>