<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="background-color: #07c4c4;">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <div class="header-container">
        <ion-img class="imagen" src="/assets/Logocine (1)-Photoroom.png"></ion-img>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="banner">
    <h1 class="subtitulo">Bienvenido a CineForum</h1>
    <p class="comparte"><em>Comparte y descubre opiniones sobre tus películas favoritas.</em></p>
    <ion-searchbar 
      [(ngModel)]="searchTerm"
      (ionInput)="searchMovies($event)"
      placeholder="Buscar peliculas en el foro">
    </ion-searchbar>
    <ion-button color="secondary" [routerLink]="['/admin-panel']" *ngIf="role == 'admin'">
      Administrar
    </ion-button>
    <ion-button color="secondary" [routerLink]="['/crear-publicacion']" *ngIf="role == 'admin'">
      Agregar película
    </ion-button>
  </div>

  <ion-list>
    <ion-item *ngFor="let pelicula of peliculas">
      <ion-thumbnail slot="start">
        <ion-img [src]="pelicula.portada"></ion-img>
      </ion-thumbnail>
      <ion-label>
        <h2>{{pelicula.titulo}}</h2>
        <p>{{pelicula.sinopsis}}</p>
      </ion-label>
      <ion-button color="secondary" (click)="gotoMovie(pelicula.id)">
        leer más
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>