<ion-header>
  <ion-toolbar>
    <ion-title style="background-color: #07c4c4;">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <div class="header-container">
        <ion-img class="imagen" src="/assets/Logocine (1)-Photoroom.png"></ion-img>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center not-found-container">
  <div class="error-content">
    <img src="/assets/notfound.jpg" alt="Error 404" class="error-image">
    <h1>¡Oops! Página no encontrada</h1>
    <p>Parece que te perdiste en la película equivocada...</p>
    <ion-button expand="full" routerLink="/home">Volver al inicio</ion-button>
  </div>
</ion-content>
